@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
}
body {
    margin: 0;
    line-height: 2em;
    background: #FDFDFD;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

main {
    margin: 0 50px;
}

/* styling the navbar */
nav {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
nav ul li {
    display: inline;
    text-align: center;
}
nav ul {
    padding: 0;
}
.navbar-right a {
    display: inline-block;
    width: 100px;
    padding: .75rem 0;
    margin-left: 10px;
    text-decoration: none;
    color: #6b6b6b;
}
.navbar-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-links a {
    display: inline-block;
    width: 70px;
    padding: .75rem 0;
    margin: 0;
    text-decoration: none;
    color: #6b6b6b;
}
/*styling underline*/
hr {
    height: .20rem;
    width: 33%;
    margin: 0;
    background: #73eba7;
    border: none;
    transition: .3s ease-in-out;
}
.two:hover ~ hr {
    margin-left: 33%;
}
.three:hover ~ hr {
    margin-left: 66%
}

/* styling intro section */
header {
    padding: 96px 48px 160px 48px;
}
.headleft {
    font-size: 1.5em;
    padding-right: 64px;
}
.imgOfme {
    transition: transform .8s ease-in-out;
}
.imgOfme:hover {
    transform: scale(1.02);
}
.imgOfme img {
    width: 35vw;
    height: auto;
    min-width: 240px;
}
.credits {
    font-size: 0.5em;
}

/* styling project grid */
.grid a {
    text-decoration: none;
    color: black;
}
.card {
    padding: 0px;
    text-align: left;
    color: black;
    background: linear-gradient(145deg, #ffffff, #e4e4e4);
    box-shadow: 36px 36px 79px #d5d5d5, -36px -36px 79px #ffffff;
    text-align: left;
    transition-duration: 800ms;
}
.card h3 {
    padding-left: 32px;
    padding-right: 32px;
}
.card p {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 8px;
}
.card img {
  width: 100%;
  height: auto;
}
/* Hover effect for each card */
.card:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    background-color: #FDFDFD;
}
.card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #FDFDFD;
    height: 32px;
    width: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.19s ease-out;
}
.card::before:hover {
    transform: scale(2.9);
}
.grid {
    display: grid;
    padding: 0 96px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

/* about section */
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    padding: 64px 96px 120px;
}
.leftabt {
    font-weight: bold;
    font-size: 1.2em;
}
.rightabt {
    font-size: 16px;
}

/* Footer styling */
footer {
    background-color: #1C1C1C;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    padding: 48px 146px 48px;
    color: white;
}
.leftfoot {
    font-weight: bold;
    font-size: 1.2em;
}
.rightfoot {
    font-size: 16px;
}
.selfplug {
    font-size: 14px;
    text-align: center;
}
.hoverlink {
    color: white;
    text-decoration: none;
}
a.hoverlink {
    position: relative;
}
.hoverlink:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}
.hoverlink:hover:before {
    visibility: visible;
    width: 100%;
}
.switchContainer {
  margin-left: 20px;
}
/*slider effect*/
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 27.2px;
    margin-right: 0.5em;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20.8px;
    width: 20.8px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #73eba7;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(20.8px);
    -ms-transform: translateX(20.8px);
    transform: translateX(20.8px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/* make it responsive */
@media (min-width: 1200px) {
  header {
      display: grid;
      grid-template-columns: 3fr 1fr;
      column-gap: 72px;
      padding: 96px 48px 160px 48px;
  }

}
@media (max-width: 1200px) {
    .about {
        width: 80%;
        display: block;
        margin-bottom: 20px;
    }
    .rightfoot {
        display: block;
        margin-bottom: 20px;
    }
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .about {
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        grid-template-columns: repeat(1, 1fr);
    }
@media (max-width: 600px) {
    main {
        margin: 0;
    }
    nav {
        flex-direction: column;
    }
    .navbar-right {
        flex-direction: column;
    }
    .navbar-left {
        display: flex;
        flex-direction: column;
    }
    .navbar-links {
        display: flex;
        flex-direction: column;
    }
  }
}
